<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>FAQ</title>

   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- Theme CSS -->
    <link href="{{url_for('static',filename = 'clean-blog.min.css')}}" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="{{url_for('static',filename = 'font-awesome.min.css')}}" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
  
    

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->


</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-custom navbar-fixed-top test">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                
                   <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#" style="padding-top: 5px;">
                <img src="{{url_for('static', filename='logo.png')}}" style="width: 35%;"></a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                {%if user%}
                <a  class="btn btn-success navbar-btn navbar-left" style="margin-right: 22px; text-align: center;" href="{{url_for('logout')}}">Logout</a>
                 {%else%}
                    <a  class="btn btn-success navbar-btn " href="{{url_for('login')}}">login</a>
                    <a  class="btn btn-success navbar-btn " href="{{url_for('signup')}}" style="margin-left: 13px;">signup</a>
                    {% endif %}
                    <li style="padding-left: 0%;"><a href="{{url_for('index')}}">EVENTS WALL</a></li>
                <li class="active"><a href="{{url_for('questions')}}">FAQ</a></li>
               
                <li><a href="{{url_for('contact')}}">CONTACTUS</a></li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    <header class="intro-header" style="background-image: url({{url_for( 'static', filename='buildings-3.jpg')}})">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="site-heading">
                        <h1>CES Blog</h1>
                        <hr class="small">
                        <span class="subheading">Have questions? We have answers (maybe).</span>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Main Content -->
    <div class="container">
        <div class="row">
        {% with messages = get_flashed_messages() %}
{% if messages%}
{%for message in messages%}
<h3 style="color: green">{{message}}</h3>
{% endfor %}
{% endif %}
{% endwith%}
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <h1 class="post-title" style="text-align: center;">FAQ</h1>
                <ul class="pager">
                    <li class="next">
                        <a href="{{url_for('questions_post')}}"> ASK A QUESTION&rarr;</a>
                    </li>
                </ul>
            {%for i in post%}
                
                <div class="post-preview">
                    <a href="{{url_for('question_comment',questionId=i.id)}}">
                        <h2 class="post-title">
                            {{i.Text}}
                        </h2>
                        
                    </a>
                    
                    <p class="post-meta">Posted by {{i.Owner_name}} <a href="#">Posted on</a> {{i.time_created}}</p>
                    {% set count = [0] %}
                    {%for comment in comments%}
                    {% if i.id == comment.Question_id%}
                            {% set _ = count.append(count.pop()+1) %}
                    {% endif %}
                    {% endfor %}
                    

                <a href="{{url_for('question_comment',questionId=i.id)}}">{{count[0]}} Comments</a>
                </div>
                <hr>

                {% endfor %}
                  

                
                <!-- Pager -->
                <ul class="pager">
                    <li class="next">
                        <a href="{{url_for('questions_post')}}"> ASK A QUESTION&rarr;</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <hr>

    <!-- Footer -->
     <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <h3 class="post-title" style="text-align: center;">MEET THE DEVELOPER</h3>
                    <div id="footer_container">

                        <ul class="social">
                            <li><a href="https://www.facebook.com/profile.php?id=100003275864360" target="_blank">Facebook</a></li>
                            <li><a href="https://github.com/abhishek981996" target="_blank">Github</a></li>
                            <li><a href="#" target="_blank">Gmail</a></li>
                        </ul>
                    </div>
                    <p class="copyright text-muted">Copyright &copy; CES BLOG 2017</p>
                </div>
            </div>
        </div>
    </footer>

    <!-- jQuery -->
    <script src="{{url_for('static',filename = 'jquery.min.js')}}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{{url_for('static',filename = 'bootstrap.min.js')}}"></script>

    <!-- Contact Form JavaScript -->
    <script src="{{url_for('static',filename = 'jqBootstrapValidation.js')}}"></script>
    <script src="{{url_for('static',filename = 'contact_me.js')}}"></script>

    <!-- Theme JavaScript -->
    <script src="{{url_for('static',filename = 'clean-blog.min.js')}}"></script>

</body>

</html>